---
title: "お知らせ - "
assetsPath: ".."
bodyClass: "info"
description: ""
keywords: "お知らせ一覧"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">お知らせ</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <section class="mb60">
              <div class="heading-base">
                  <h2>お知らせ一覧</h2>
              </div>
              <div class="info">
                  <dl class="infolist">
                      <dt>
                          <time>2014/09/01</time>
                      </dt>
                      <dd><a href="single.html">○○○○のお知らせ</a></dd>
                      <dt>
                          <time>2014/08/25</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                      <dt>
                          <time>2014/07/20</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                      <dt>
                          <time>2014/06/10</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                  </dl>
              </div>
              <div class="align-center">
                <a href="{{file.frontMatter.assetsPath}}/"><button>トップページへもどる</button></a>
              </div>
            </section>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
