---
title: "お知らせ - "
assetsPath: ".."
bodyClass: "info"
description: ""
keywords: "お知らせ詳細"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">お知らせ</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <article class="post">
              <div class="heading-base">
                  <h2>○○○○のお知らせ</h2>
              </div>
                <div class="post__metadate">更新日：
                    <time datetime="">2015/02/24</time>
                </div>
                <div class="post__content">
                  <p>お客様各位</p>
                  <p>時下益々ご清栄のこととお慶び申し上げます。
                      <br>また、平素は格別なるご高配を賜り厚くお礼申し上げます。</p>
                  <p>弊社では、誠に勝手ながら、本年度の夏季休暇を以下の日程で実施させていただきます。<br>
                  大変ご迷惑をお掛けいたしますが、何卒ご了承くださいますようお願い申し上げます。</p>
                  <p><strong>■夏季休暇期間■<br>
                  20xx年x月xx日（x）～20xx年x月xx日（x）まで</strong>
                  </p>
                  <p>※ 20xx年x月xx日（x）より、通常業務を開始します。<br>
                  ※ 休暇中のお問い合せにつきましては、20xx年x月xx日（x）以降に対応させていただきます。</p>
                </div>
            </article>
            <div class="post_link">
                <div class="post_link__previous"><a href="javascript:void(0);" rel="prev"><i class="fa fa-chevron-circle-left"></i> 記事タイトルが入る</a></div>
                <div class="post_link__next"><a href="javascript:void(0);" rel="next">記事タイトルが入る <i class="fa fa-chevron-circle-right"></i></a></div>
            </div>
            <div class="align-center">
              <a href="index.html"><button>お知らせ一覧へ</button></a>
            </div>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
