---
title: "会社概要 - "
assetsPath: ".."
bodyClass: "company"
description: "株式会社北原防災の会社概要です。"
keywords: "会社概要,防災,機器,消防,設備,保守,点検,工事,販売,千葉"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">会社案内</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <section class="mb60">
              <div class="heading-base">
                  <h2>会社概要</h2>
              </div>
              <div>
                <table class="table">
                  <tr>
                    <th>名称</th>
                    <td>株式会社北原防災</td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td>260-0801<br>
                    千葉県千葉市中央区仁戸名町702番地</td>
                  </tr>
                  <tr>
                    <th>電話番号</th>
                    <td>043-264-5511</td>
                  </tr>
                  <tr>
                    <th>Fax番号</th>
                    <td>043-266-3032</td>
                  </tr>
                  <tr>
                    <th>代表者</th>
                    <td>代表取締役社長 北原 俊彦</td>
                  </tr>
                  <tr>
                    <th>取り扱い商品・業務内容</th>
                    <td>消防用設備設計及び施行、消防用設備点検、非常用食料品、救助用品、避難用品、防災標識、その他防災資機材</td>
                  </tr>
                  <tr>
                    <th>主な所属団体</th>
                    <td>（社）千葉県消防設備協会
                        千葉県消防設備協同組合<br>
                        千葉南ロータリークラブ<br>
                        千葉商工会議所<br>
                        （社）千葉県経営者協会<br>
                        （社）千葉南法人会<br>
                        （社）倫理研究所千葉県倫理法人会<br>
                        千葉県南警察友の会<br>
                        千葉県中央警察友の会<br>
                        千葉県中小企業家同友会<br>
                        建設業労働災害防止協会</td>
                  </tr>
                  <tr>
                    <th>ボランティア活動所属団体</th>
                    <td>NPO法人都川の環境を考える会<br>
                    千葉県がんセンター光の会</td>
                  </tr>
                </table>
              </div>
            </section>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
