---
description: "安全・安心な暮らしは、日ごろの保守・点検から。消防用設備の設計・施工・保守・点検のことなら小さなことでもご相談ください。当社では官公庁の点検も請い、お客様から絶大な信頼を得ています。防災機器・防災についてのことなら安心と歴史の北原防災"
keywords: "防災,機器,消防,設備,保守,点検,工事,販売,千葉"
---
{{> header}}
    <div class="mainVisual">
      <div class="container">
          <div class="copy">
              <p class="copy__main">安全と安心を提供する仕事</p>
              <p class="copy__sub">安全・安心な暮らしは、日ごろの保守・点検から。</p>
          </div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main">
            <section class="mb60">
              <div class="heading-base">
                  <h2>ご挨拶</h2>
              </div>
              <p>昭和37年（1962年）の創業以来、誠心誠意、防災事業に従事してきました。
                  <br>近年は、地球環境の変化による災害などの発生により、命・財産を守るために、防災は今まで以上に重要と考えています。
                  <br> 故に私どもは、今まで以上に新しい技術・新しい商品・新しい知識の吸収に努めています。そして、長年の歴史の中で培ってきた経験や知識も活用し、お客様の安全・安心をご提供いたします。
              </p>
            </section>
            <section class="mb60">
              <div class="heading-base">
                  <h2>お知らせ</h2>
                  <!-- <p class="heading-base__link"><a href="javascript:void(0)">お知らせ一覧</a></p> -->
              </div>
              <div class="info">
                  <dl class="infolist">
                      <dt>
                          <time>2014/09/01</time>
                      </dt>
                      <dd>ホームページをリニューアルしました。</dd>
                      <dt>
                          <time>2014/08/25</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                      <dt>
                          <time>2014/07/20</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                      <dt>
                          <time>2014/06/10</time>
                      </dt>
                      <dd><a href="javascript:void(0)">お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。お知らせが入ります。</a>
                      </dd>
                  </dl>
              </div>
            </section>
        </div>
        <!-- /.main -->
        <div class="side">
            <div class="bnr"><img src="https://placeimg.com/180/95/nature" alt="バナー">
            </div>
            <div class="bnr"><img src="https://placeimg.com/180/95/nature" alt="">
            </div>
            <div class="bnr"><img src="https://placeimg.com/180/95/nature" alt="">
            </div>
        </div>
        <!-- /.side -->
    </div>
{{> footer}}
