---
title: "業務概要 - "
assetsPath: ".."
description: "株式会社北原防災の業務概要です。"
keywords: "業務概要,防災,機器,消防,設備,保守,点検,工事,販売,千葉"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">業務案内</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <section class="mb60">
              <div class="heading-base">
                  <h2>業務概要</h2>
              </div>
              <p>当社は次のようなことを実施しております。</p>
              <div>
                <dl class="businesslist">
                  <dt>点検</dt>
                  <dd>消防用設備点検、防火対象物点検、防火管理点検の実施</dd>
                  <dt>消防用設備工事</dt>
                  <dd>各種消防用設備設計施工及び改修工事</dd>
                  <dt>防災用品等の販売</dt>
                  <dd>各種消火器、一般標識、一般防災用品、リサイクルトナーカートリッジ</dd>
                  <dt>誤動作時等の対応</dt>
                  <dd>消防用設備は生命や建物を守る為に必要な設備です。<br>実際に火災が発生しなくても天災や老朽化により誤動作が生じる場合があります。誤動作等の連絡を頂いた場合、技術員が速やかに出向いて適切な処置を行います。
                  </dd>
                  <dt>技術力向上</dt>
                  <dd>消防用設備は、日進月歩で進化しています。その為、当社では各種講習会に参加し常に新しい知識や技術の吸収を図っています。</dd>
                  <dt>保険加入</dt>
                  <dd>賠償責任保険、中小企業ＰＬ保険制度</dd>
                  <dt>消防用設備の施設工事業の知事認可</dt>
                  <dd>登録番号　千葉県知事 第３４８４号</dd>
                  <dt>官公庁指名参加</dt>
                  <dd>国、千葉県、千葉県内の各市町村で工事・物品・委託などに入札指名の登録がなされています。</dd>
                </dl>
              </div>
            </section>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
