---
title: "点検サービス - "
assetsPath: ".."
bodyClass: "check-service"
description: "株式会社北原防災の点検サービスの概要を紹介しています。"
keywords: "点検サービス,防災,機器,消防,設備,保守,点検,工事,販売,千葉"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">点検サービス</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <section class="mb60">
              <div class="heading-base">
                  <h2>点検サービス</h2>
              </div>
              <div>
                <section>
                  <h3 class="hd3">まかせて安心　北原防災の点検システム</h3>
                  <p>安全・安心な暮らしは日頃の保守・点検から。消防用設備の設計・施工・保守・点検のことなら小さいなことでもご相談ください。<br>
                  当社では官公庁の点検も請い、お客様から絶大な信頼を得ています。</p>
                </section>
                <section>
                  <h3 class="hd3">【点検から報告まで】</h3>
                  <p>消防用設備の点検には、定められた道具・工具が必要です。</p>
                  <ol>
                    <li>点検に必要な道具・工具類を保持していること。</li>
                    <li>請負業者賠償責任保険に加入していること。</li>
                    <li>点検する消防設備の種類に応じた技術者がいること。</li>
                    <li>上記No.1～No.3の条件をそろえて、（社）千葉県消防設備協会の指導する｢表示登録会員｣になる。</li>
                  </ol>
                  <section>
                    <h4 class="hd4">消防用設備点検から報告までフロー</h4>
                    <div>
                      <dl class="flow">
                        <dt>点検・打ち合わせ</dt>
                        <dd>法令に定められた期間・内容を基に点検日時・手順等をあらかじめ打ち合わさせて頂きます。<br>
                          <dl>
                            <dt>機器点検（６ヶ月に１回以上）</dt>
                            <dd>消防用設備等の機器の機能について、外観から又は簡易な操作により判別できじ事項を点検基準に従い確認する事。</dd>
                            <dt>総合点検（１年に１回以上）</dt>
                            <dd>消防用設備等の全部若しくは一部を作動させ、又はその消防用設備等を使用することにより、総合的な機能を点検基準に従い確認する事。</dd>
                          </dl>
                        </dd>
                      </dl>
                      <dl class="flow">
                        <dt>点検・整備</dt>
                        <dd>法令に基づいた点検を行います。不備が発見された場合は、適正な改修案を提示します。</dd>
                      </dl>
                      <dl class="flow">
                        <dt>点検結果・報告書作成</dt>
                        <dd>点検した結果は、定められた様式に従い作成致します。</dd>
                      </dl>
                      <dl class="flow">
                        <dt>報告</dt>
                        <dd>特定防火対象物は、年１回。非特定防火対象物は３年に１回、消防本部のある市町村は消防長又は消防署長へ、消防本部のない市町村は市町村長へ点検結果を報告しなければなりません。お客様から、ご依頼があった場合、点検結果報告書を、お客様に代り消防署へ提出いたします。</dd>
                      </dl>
                    </div>
                  </section>
                </section>
              </div>
            </section>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
