---
title: "点検サービス - "
assetsPath: ".."
bodyClass: "check-service"
description: "株式会社北原防災の点検サービスの概要を紹介しています。"
keywords: "点検サービス,防災,機器,消防,設備,保守,点検,工事,販売,千葉"
---
{{> header}}
    <div class="mainVisual--sub">
      <div class="container">
          <div class="page-title">点検サービス</div>
      </div>
    </div>
    <!-- /.mainVisual -->
    <div class="container">
        <div class="main--sub">
            <section class="mb60">
              <div class="heading-base">
                  <h2>点検サービス</h2>
              </div>
              <div>
                <h3 class="hd3">まかせて安心　北原防災の点検システム</h3>
                <p>安全・安心な暮らしは日頃の保守・点検から。消防用設備の設計・施工・保守・点検のことなら小さいなことでもご相談ください。<br>
                当社では官公庁の点検も請い、お客様から絶大な信頼を得ています。</p>
                <h3 class="hd3">【点検から報告まで】</h3>
                <p>消防用設備の点検には、定められた道具・工具が必要です。</p>
                <ol>
                  <li>点検に必要な道具・工具類を保持していること。</li>
                  <li>請負業者賠償責任保険に加入していること。</li>
                  <li>点検する消防設備の種類に応じた技術者がいること。</li>
                  <li>上記No.1～No.3の条件をそろえて、（社）千葉県消防設備協会の指導する｢表示登録会員｣になる。</li>
                </ol>
                <figure>
                  <figcaption>消防用設備点検から報告まで</figcaption>
                  <img src="" alt="フロー図">
                </figure>
              </div>
            </section>
        </div>
        <!-- /.main--sub -->
    </div>
{{> footer}}
