//
// CONDENSE-iconFont
// http://icon.condense-c.com/
//
@font-face {
  font-family: 'CONDENSEicon';
  src:url('../fonts/CONDENSEicon.eot');
  src:url('../fonts/CONDENSEicon.ttf');
  src:url('../fonts/CONDENSEicon.otf') format('opentype');
  src:url('../fonts/CONDENSEicon.woff') fromat('woff');
}

.icon-CONDENSEicon {
    font-family: CONDENSEicon;
    font-style: normal;
    color: $navy;
}
