@charset "utf-8";

.mb60 {
  margin-bottom: 60px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.fz18 {
  font-size: 18px;
}

.hidden {
  display: none;
}

.red {
  color: $red;
}

.note {
  font-size: 0.875em; // 14px
  font-weight: normal;
}

.sm-hidden {
  display: none;
  @include media ($large-screen) {
    display: block;
  }
}

.lg-hidden {
  display: block;
  @include media ($large-screen) {
    display: none;
  }
}

