.centered-navigation {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $second-color;
  $centered-navigation-color: $navy;
  $centered-navigation-color-hover: $navy;
  $centered-navigation-height: 112px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 22em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;
  $navi-hover-color: #99C4E7;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  min-height: $centered-navigation-height;
  width: 100%;
  height: 112px;
  z-index: 9999;

  // Mobile view

  .mobile-logo {
    position: relative;
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding / 2;

    img {
      max-height: $centered-navigation-height;
      // opacity: .6;
      padding: 1em 0;
      width: 41px;
      margin-right: .27777em;
    }

    .mobile-logo__txt {
      position: relative;
      top: -2.2em;
      font-size: 22px;
      color: $navy;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding / 2;
    // text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
      padding: 0 0 .6875em;
    }
  }

  // The nav items

  // .nav-link:first-child {
  //   @include media($horizontal-bar-mode) {
  //     margin-left: $centered-navigation-item-nudge;
  //   }
  // }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      // line-height: $centered-navigation-height;
      padding-right: 0;

      a {
        position: relative;
        width: 190px;
        height: 112px;
        display: block;
        text-align: center;
        .link {
          width: 162px;
          height: 90px;
          display: block;
          margin: 0 auto;
          line-height: 8.4;
          &:hover {
            background: $navi-hover-color;
            border-radius: 4px;
          }
        }

        &.logo {
          line-height: 1;
          padding: 0.625em 0;
        }
        &.company:before {
          content: "";
          position: absolute;
          top: 1em;
          left: 0;
          right: 0;
          height: 32px;
          background: url("../images/building.svg") no-repeat 50% 0;
        }
        &.business:before {
          @extend .company:before;
          background: url("../images/star.svg") no-repeat 50% 0;
        }
        &.check:before {
          @extend .company:before;
          background: url("../images/card.svg") no-repeat 50% 0;
        }
        &.contact:before {
          @extend .company:before;
          background: url("../images/mail.svg") no-repeat 50% 0;
        }
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;
      padding-right: $centered-navigation-submenu-padding;
      width: 100%;
      @include media ($large-screen) {
        padding-right: 0;
        width: auto;
      }
      @include media (67.25em) { // min-width: 1076px
        margin: 0 1.3em;
      }

      &:hover {
        color: $centered-navigation-color-hover;
        background: $navi-hover-color;
        @include media ($large-screen) {
          background: none;
        }
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  // .logo img {
  //   margin-bottom: -$centered-navigation-logo-height / 3;
  //   max-height: $centered-navigation-logo-height;
  //   opacity: .6;
  // }

  // Sub menus

  li.more.nav-link {
    // padding-right: 0;

    // @include media($large-screen) {
    //   padding-right: $centered-navigation-submenu-padding;
    // }

    // > ul > li:first-child a  {
    //   padding-top: 1em;
    // }

    // a {
      // margin-right: $centered-navigation-submenu-padding;
      // margin-right: 0;
    // }

    // > a {
      // padding-right: 0.6em;
      // @include media($large-screen) {
        // padding-right: 0;
      // }
    // }

    > a:after {
      @include position(absolute, auto auto auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
      @include media($large-screen) {
        @include position(absolute, auto 3.8em -1.3em auto);
      }
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    // a {
      // padding-right: $centered-navigation-submenu-padding;
      // padding-right: 1.6em;

      // @include media($large-screen) {
      //   padding-right: $centered-navigation-submenu-padding;
      // }
    // }

    > a {
      // padding-right: 1.6em;
      // position: relative;

      // @include media($large-screen) {
      //   margin-right: $centered-navigation-submenu-padding;
      // }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 2.8em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;
      & + li {
        border-top: 1px solid darken($centered-navigation-background, 6);
      }

      @include media($horizontal-bar-mode) {
        // line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;
        &:hover {
          background: $navi-hover-color;
        }

        @include media($horizontal-bar-mode) {
          background-color: rgba($centered-navigation-background, .9);
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
          margin: 0;
        }
      }
    }
  }
}
